.slide {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
}

.prevArrow,
.nextArrow {
	border-radius: 100%;
	display: inline-block;
	cursor: pointer;
	padding: 3.5%;
	top: 84%;
	position: absolute;
	font-size: 0;
	line-height: 0;
	background: rgba(255,255,255,0.85);
	z-index: 10;
}
.prevArrow {
	left: 40%;
}
.nextArrow {
	right: 40%;
}

.prevArrow:after,
.nextArrow:after {
	position: absolute;
	content: '';
	margin-top: -1vh;
	top: 50%;
	left: 40%;
	width: 0;
	height: 0;
	right: 1.2vh;
	border-top: 1vh solid transparent;
	border-bottom: 1vh solid transparent;
	border-right: 1vh solid #555;
}
.nextArrow:after {
	left: auto;
	right: 40%;
	border-right: none;
	border-left: 1vh solid #555;
}
