h1 {
	margin: 1vh 0 0;
	line-height: 110%;
	font-size: 1.6em;
}
.text p:last-child {
	margin-bottom: 0
}

.text {
	line-height: 130%;
	font-size: 1.2vw;
	position: absolute;
	width: 33%;
	top: 16%;
	right: 0;
	transition: opacity 0.2s ease-out;
	background: rgba(255,255,255,0.85);
	transform: translateX(100%);
	transition: transform 0.2s ease-out;
}
.text.displayed {
	transform: translateX(0%);
}

.toggle {
	position: absolute;
	left: -10%;
	top: 0;
	bottom: 0;
	width: 10%;
	line-height: 160%;
	font-size: 1.2em;
	background: rgba(255,255,255,0.85);
	border-right: 1px solid #DDD;
}

.text .toggle:after {
	position: absolute;
	content: '';
	margin-top: -1vh;
	top: 50%;
	width: 0;
	height: 0;
	right: 1.2vh;
	border-top: 1vh solid transparent;
	border-bottom: 1vh solid transparent;
	border-right: 1vh solid #555;
}

.text.displayed .toggle:after {
	right: auto;
	left: 1.2vh;
	border-right: none;
	border-left: 1vh solid #555;
}

.text .textFr,
.text .textEn,
.text .textBz {
	display: none;
	padding: 6%;
}
.text.langFr .textFr,
.text.langEn .textEn,
.text.langBz .textBz {
	display: block;
}

.lang {
	overflow: hidden;
	position: relative;
}
.lang > a {
	display: inline-block;
	width: 33%;
	padding: 3% 6%;
	background: rgba(0,0,0,0.05);
	text-align: center;
	z-index: 11;
	position: relative;
}
.text.langFr .langOptionFr,
.text.langEn .langOptionEn,
.text.langBz .langOptionBz {
	background: transparent;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	z-index: 12
}
.text .langOptionBz {
	width: 34%;
}
.lang > a > img {
	max-height: 1.8vh;
}
