.app {
	position: relative;
	max-width: 160vh;
	background: url('../../../static/img/chateau.png') center center;
	background-size: contain;
	margin: auto;
}

.app:after {
	content: '';
	display: block;
	padding-top: 62.50%;
}
