.app {
	position: relative;
	max-width: 160vh;
	background: url('../../../www/img/chateau.png') center center;
	background-size: contain;
	margin: auto;
}

.roomsLayer > svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

@keyframes glow {
	0% { opacity: 0.4; }
	50% { opacity: 0.55; }
	100% { opacity: 0.4; }
}
:global(.room-layer) {
	animation: glow 7s ease-in-out infinite;
}

.app:after {
	content: '';
	display: block;
	padding-top: 62.50%;
}
