.common {
	position: absolute;
	background: blue;
	width: 10%;
	height: 10%;
}
.expanded {
	left: 2% !important;
	top: 2% !important;
	right: 2% !important;
	bottom: 2% !important;
	width: auto;
	height: auto;
}
.expand {
	height: 10%;
	background: red;
}
.contract {
	height: 10%;
	background: green;
}
:global(.teleporter-active) {
	z-index: 9
}
.selected {
	z-index: 10
}
