h1 {
	margin: 1vh 0 0;
	line-height: 110%;
	font-size: 1.6em;
}
.text p:last-child {
	margin-bottom: 0
}
.text {
	line-height: 130%;
	font-size: 1.2vw;
	font-family: 'din-regular';
	position: absolute;
	width: 33%;
	top: 20%;
	bottom: 0;
	right: 0;
	transition: opacity 0.2s ease-out;
	overflow: hidden;
}
.text .textFr,
.text .textEn,
.text .textBz {
	background: rgba(255,255,255,0.85);
	display: none;
	padding: 6%;
}
.text.langFr .textFr,
.text.langEn .textEn,
.text.langBz .textBz {
	display: block;
}

.lang {
	overflow: hidden;
	position: relative;
}
.lang > a {
	display: inline-block;
	width: 33%;
  padding: 3% 6%;
	background: rgba(240,240,240,0.85);
	text-align: center;
	z-index: 11;
	position: relative;
}
.text.langFr .langOptionFr,
.text.langEn .langOptionEn,
.text.langBz .langOptionBz {
	background: rgba(255,255,255,0.85);
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	z-index: 12
}
.text .langOptionBz {
	width: 34%;
}
.lang > a > img {
	max-height: 1.8vh;
}
