:global(.slick-track) {
	height: 100%;
}

:global(.slick-slide) {
	max-height: 100%;
}

:global(.slick-next),
:global(.slick-prev) {
	border-radius: 100%;
	display: inline-block;
	cursor: pointer;
	padding: 2.5%;
	top: 90%;
	position: absolute;
	font-size: 0;
	line-height: 0;
	background: rgba(255,255,255,0.85);
	border: none;
}

:global(.slick-prev) {
	left: 45%;
}
:global(.slick-next) {
	left: 55%;
}

:global(.slick-prev:after),
:global(.slick-next:after) {
	position: absolute;
	content: '';
	margin-top: -1vh;
	top: 50%;
	left: 40%;
	width: 0;
	height: 0;
	right: 1.2vh;
	border-top: 1vh solid transparent;
	border-bottom: 1vh solid transparent;
	border-right: 1vh solid #555;
}

:global(.slick-next:after) {
	left: 40%;
	border-right: none;
	border-left: 1vh solid #555;
}
